dist/
dist-*/
types/

packages/*/temp
packages/*/index.d.ts
packages/*/node.d.ts

sandbox/*
!sandbox/.gitkeep

.cache
.temp

examples/*/package-lock.json
examples/*/yarn.lock
examples/*/pnpm-lock.yaml

*~
*.sw[mnpcod]
*.log
*.lock*
*.tmp
*.tmp.*
*.sln
*.suo
*.ntvs*
*.njsproj
log.txt
*.sublime-project
*.sublime-workspace
.env
.env.*
.rollup*
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
/libpeerconnection.log
chrome-profiler-events*.json
speed-measure-plugin*.json

/.link
/tmp
/out-tsc
/bazel-out
/.pnp
.pnp.js
.eslintcache
.nyc_output/
.idea/
.vscode/
.versions/
node_modules/
web_modules/
coverage/
cypress-coverage/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
