/** https://github.com/tailwindlabs/tailwindcss/blob/master/src/css/preflight.css */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

.__vbk__,
.__vbk__::before,
.__vbk__::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr.__vbk__ {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr.__vbk__[title] {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1.__vbk__,
h2.__vbk__,
h3.__vbk__,
h4.__vbk__,
h5.__vbk__,
h6.__vbk__ {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a.__vbk__ {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b.__vbk__,
strong.__vbk__ {
  font-weight: bolder;
}

/*
1. Use sensible font-family default.
2. Correct the odd `em` font sizing in all browsers.
*/

code.__vbk__,
kbd.__vbk__,
samp.__vbk__,
pre.__vbk__ {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small.__vbk__ {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub.__vbk__,
sup.__vbk__ {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub.__vbk__ {
  bottom: -0.25em;
}

sup.__vbk__ {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table.__vbk__ {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button.__vbk__,
input.__vbk__,
optgroup.__vbk__,
select.__vbk__,
textarea.__vbk__ {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button.__vbk__,
select.__vbk__ {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button.__vbk__,
[type='button'].__vbk__,
[type='reset'].__vbk__,
[type='submit'].__vbk__ {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring.__vbk__ {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid.__vbk__ {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress.__vbk__ {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button.__vbk__,
::-webkit-outer-spin-button.__vbk__ {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'].__vbk__ {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration.__vbk__ {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button.__vbk__ {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary.__vbk__ {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote.__vbk__,
dl.__vbk__,
dd.__vbk__,
h1.__vbk__,
h2.__vbk__,
h3.__vbk__,
h4.__vbk__,
h5.__vbk__,
h6.__vbk__,
hr.__vbk__,
figure.__vbk__,
p.__vbk__,
pre.__vbk__ {
  margin: 0;
}

fieldset.__vbk__ {
  margin: 0;
  padding: 0;
}

legend.__vbk__ {
  padding: 0;
}

ol.__vbk__,
ul.__vbk__ {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea.__vbk__ {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set sensible default placeholder color.
*/

input.__vbk__::placeholder,
textarea.__vbk__::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button.__vbk__,
[role='button'] {
  cursor: pointer;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img.__vbk__,
svg.__vbk__,
video.__vbk__,
canvas.__vbk__,
audio.__vbk__,
iframe.__vbk__,
embed.__vbk__,
object.__vbk__ {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img.__vbk__,
video.__vbk__ {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden].__vbk__ {
  display: none;
}
