.floating-toc {
  position: sticky;
  top: 0;
  right: 0;
  max-width: 11rem;
  max-height: 100vh;
  overflow-y: auto;
  padding-top: calc(var(--vbk--navbar-height) + 2rem);
  padding-left: 0.5rem;
  padding-right: 1.25rem;
  display: none;
}

html.no-navbar .floating-toc {
  padding-top: 2rem;
}

.floating-toc__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.floating-toc__list-item {
  line-height: 1.08rem;
  padding: 0.375rem 0;
}

.floating-toc__list-item > ul {
  margin-top: 0.375rem;
  margin-left: 0.75rem;
}

.floating-toc__list-item > ul > li:last-child {
  padding-bottom: 0;
}

.floating-toc__link {
  line-height: unset;
  font-size: 0.875rem;
  cursor: pointer;
  color: rgba(var(--vbk--color-text-rgb), 0.56);
}

.floating-toc__link.active {
  color: var(--vbk--color-primary);
}

@media (min-width: 992px) {
  .floating-toc {
    display: block;
  }
}
