/* --sidebar-item-color: rgba(var(--color-text-rgb), 0.55);
  --sidebar-item-bg-color: var(--color-bg-200);
  --sidebar-item-padding: 0.5rem 0;
  --sidebar-item-font-size: 1rem;
  --sidebar-item-spacing: 0.2rem;
  --sidebar-item-font-weight: 500;
  --sidebar-item-border-radius: 0.12rem;
  --sidebar-item-line-height: 1.5;
  --sidebar-item-min-width: 10.5rem;

  --sidebar-item-active-color: var(--color-text);
  --sidebar-item-active-bg-color: var(--color-bg-100);

  --sidebar-item-hover-color: var(--color-text);
  --sidebar-item-hover-bg-color: var(--color-bg-100); */
