.theme-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 0;
  padding: 0.5rem;
  font-size: 1.375rem;
  border-radius: 0.125rem;
  cursor: pointer;
  background-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  .theme-switch:hover {
    outline: 0;
    background-color: var(--vbk--color-bg-100);
  }
}

html.dark .theme-switch__icon-light {
  display: none;
}

html.dark .theme-switch__icon-dark {
  display: block;
}

html:not(.dark) .theme-switch__icon-dark {
  display: none;
}
