.admonition {
  margin: 1rem 0;
  border-left: 0.5rem solid;
  padding: 0.1rem 1.5rem;
  overflow-x: auto;
  background-color: hsl(0, 0%, 91.5%);
}

html.dark .admonition {
  background-color: hsl(0, 0%, 12.3%);
}

.admonition__title {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

.admonition__title > svg {
  width: 1.375rem;
  margin-top: -0.15rem;
  margin-right: 0.325rem;
}

html.dark .admonition:not(.warning) .admonition__title {
  filter: brightness(125%);
}

.admonition code {
  background-color: hsl(0, 0%, 82.5%);
}

html.dark .admonition code {
  background-color: hsl(0, 0%, 17%);
}

.admonition.note {
  border-color: #e83e8c;
}

.admonition.tip {
  border-color: #28a745;
}

.admonition.info {
  border-color: #1f75cb;
}

.admonition.warning {
  border-color: #ffc107;
}

html:not(.dark) .admonition.warning .admonition__title {
  filter: brightness(90%);
}

.admonition.danger {
  border-color: #dd2b0e;
}
