body {
  margin: 0;
}

/*
 * You can change the CSS scope selector in the `clientPlugin` options. This is used to target
 * theme-specific elements.
 */
.__vbk__ {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.__vbk__,
.__vbk__::before,
.__vbk__::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
