.not-found {
  width: 100%;
  min-height: 100%;
  padding: 0 2rem;
}

.not-found__container {
  width: 100%;
  padding-top: 1rem;
  min-height: calc(100vh - var(--vbk--navbar-height));
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.not-found__title {
  font-size: 1.5rem;
  margin-top: -1rem;
  text-align: center;
}

.not-found__img-container {
  max-width: 400px;
}

.not-found__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-left: -1.5rem;
}

.not-found__actions > a + a {
  margin-left: 1rem;
}

@media (min-width: 420px) {
  .not-found__title {
    font-size: 1.75rem;
    margin-top: 1rem;
  }

  .not-found__container {
    padding-top: 2rem;
  }
}

@media (min-width: 576px) {
  .not-found__container {
    padding-top: calc(var(--vbk--navbar-height) + 1.5rem);
  }

  .not-found__actions {
    margin-top: 3.5rem;
  }

  .not-found__img-container {
    max-width: 500px;
  }

  .not-found__title {
    font-size: 2rem;
    margin-top: 3.5rem;
  }
}
