/**-------------------------------------------------------------------------------------------
* Hero
*-------------------------------------------------------------------------------------------*/

.home__hero {
  padding: 0 1.5rem;
  text-align: center;
  padding-top: 5rem;
}

.home__hero__title {
  margin-top: 0;
}

.home__hero__actions {
  margin-top: 3.75rem;
}

.home__hero__actions > a + a {
  margin-left: 1rem;
}

@media (min-width: 576px) {
  .home__hero__actions > a + a {
    margin-left: 1.5rem;
  }
}

@media (min-width: 992px) {
  .home__hero {
    margin-bottom: 5rem;
  }

  .home__hero__title {
    margin-top: 2rem;
  }
}

/**-------------------------------------------------------------------------------------------
* Features
*-------------------------------------------------------------------------------------------*/

.home__features {
  margin: 0 auto;
  max-width: 960px;
  margin-top: 3.75rem;
  padding: 0 1rem;
}

.home__features__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 1rem;
}

.home__feature {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-grow: 1;
  flex-basis: 100%;
  max-width: 100%;
  text-align: left;
  margin-top: 2.25rem;
}

.home__feature:first-child {
  margin-top: 0;
}

.home__feature__title {
  display: flex;
  align-items: center;
  border-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;
}

.home__feature__icon {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.home__feature__body {
  font-size: 0.9rem;
  color: var(--vbk--color-text-secondary);
}

@media (min-width: 576px) {
  .home__features {
    padding-left: 2.5rem;
    max-width: 760px;
  }

  .home__features__container {
    padding-left: 0;
    padding-right: 0;
  }

  .home__feature {
    flex-basis: 48%;
    max-width: 48%;
  }

  .home__feature:first-child .home__feature__title {
    margin-top: 2.25rem;
  }
}

@media (min-width: 992px) {
  .home__features {
    padding-left: 3rem;
    max-width: 960px;
  }

  .home__feature {
    flex-basis: 30%;
    max-width: 30%;
  }
}

/**-------------------------------------------------------------------------------------------
* Footer
*-------------------------------------------------------------------------------------------*/

.home__footer {
  margin: 0 auto;
  max-width: 960px;
}

.home__footer__container {
  padding: 4rem 1.5rem 5rem;
}

.home__footer-text {
  margin: 0;
  text-align: center;
  line-height: 1.4;
  font-size: 0.9rem;
  color: var(--vbk--color-text-secondary);
}

@media (min-width: 768px) {
  .home__footer__container {
    padding: 6rem 1.5rem 4rem;
  }
}
