.theme {
  display: flex;
}

html.no-navbar .theme {
  --vbk--navbar-height: 4rem;
}

html.no-navbar .navbar-fallback {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  height: var(--vbk--navbar-height);
  width: 100%;
  z-index: var(--vbk--navbar-z-index);
  background-color: var(--vbk--color-bg-100);
}

.navbar-fallback.no-sidebar-toggle {
  padding-left: 1rem;
}

html.no-navbar .sidebar-toggle {
  padding-left: 0.75rem;
}

html.no-navbar.dark .navbar-fallback {
  background-color: var(--vbk--color-bg-300);
}

.navbar__theme-switch {
  display: none;
}

@media (min-width: 992px) {
  html.no-navbar.sidebar-open .theme {
    --vbk--navbar-height: 0;
  }

  html.no-navbar.sidebar-open .navbar-fallback {
    display: none;
  }

  html.no-navbar:not(.sidebar-open) .navbar-fallback {
    padding-left: 1rem;
  }

  .navbar__theme-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.2rem;
  }

  .theme .scrim {
    display: none;
  }
}
