.admonition.__vbk__ {
  margin: 1rem 0;
  border-left: 0.5rem solid;
  padding: 0.1rem 1.5rem;
  overflow-x: auto;
  background-color: var(--vbk--color-bg-200);
}

.admonition__title.__vbk__ {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

.admonition__title.__vbk__ > svg {
  width: 1.375rem;
  margin-top: -0.15rem;
  margin-right: 0.325rem;
}

html.dark .admonition.__vbk__:not(.warning) .admonition__title.__vbk__ {
  filter: brightness(125%);
}

.admonition.__vbk__ code.__vbk__ {
  background-color: var(--vbk--color-gray-400);
}

html.dark .admonition.__vbk__ code.__vbk__ {
  background-color: var(--vbk--color-gray-500);
}

.admonition.note.__vbk__ {
  border-color: var(--vbk--color-pink);
}

.admonition.tip.__vbk__ {
  border-color: var(--vbk--color-green);
}

.admonition.info.__vbk__ {
  border-color: var(--vbk--color-info);
}

.admonition.warning.__vbk__ {
  border-color: var(--vbk--color-warning);
}

html:not(.dark) .admonition.warning.__vbk__ .admonition__title.__vbk__ {
  filter: brightness(90%);
}

.admonition.danger.__vbk__ {
  border-color: var(--vbk--color-danger);
}
