div.__vbk__[class*='language-'] {
  margin: 2rem 0;
}

div.__vbk__[class*='language-'] > pre.__vbk__,
div.__vbk__[class*='language-'] > pre.__vbk__ code.__vbk__ {
  color: #ccc;
  background: none;
  font-family: var(--vbk--code-font-family);
  font-size: var(--vbk--code-font-size);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: var(--vbk--code-line-height);

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre.__vbk__[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre.__vbk__) > code.__vbk__[class*='language-'],
pre.__vbk__[class*='language-'] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre.__vbk__) > code.__vbk__[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #ec5975;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: #3eaf7c;
}

div.__vbk__[class*='language-'] pre.__vbk__,
pre.__vbk__[class*='language-'] {
  color-scheme: var(--vbk--code-color-scheme);
  padding: 1.25rem 1.5rem;
  margin: 0.85rem 0;
  border-radius: 6px;
  overflow: auto;
}

div.__vbk__[class*='language-'] pre.__vbk__ code.__vbk__,
pre.__vbk__[class*='language-'] code.__vbk__ {
  color: #fff;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.line-number {
  font-family: var(--vbk--code-font-family);
}

div.__vbk__[class*='language-'] {
  position: relative;
  background-color: var(--vbk--code-bg-color);
  border-radius: 6px;
}

div.__vbk__[class*='language-']::before {
  position: absolute;
  z-index: 3;
  top: 0.8em;
  right: 1em;
  font-size: 0.75rem;
  color: var(--vbk--code-ln-color);
}

div.__vbk__[class*='language-'] pre.__vbk__,
div.__vbk__[class*='language-'] pre.__vbk__[class*='language-'] {
  /* force override the background color to be compatible with shiki */
  background: transparent !important;
  position: relative;
  z-index: 1;
}

div.__vbk__[class*='language-'] .highlight-lines {
  user-select: none;
  padding-top: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: var(--vbk--code-hl-ln-height);
}

div.__vbk__[class*='language-'] .highlight-lines .highlight-line {
  background-color: var(--vbk--code-hl-bg-color);
}

div.__vbk__[class*='language-']:not(.line-numbers-mode) .line-numbers {
  display: none;
}

div.__vbk__[class*='language-'].line-numbers-mode
  .highlight-lines
  .highlight-line {
  position: relative;
}

div.__vbk__[class*='language-'].line-numbers-mode
  .highlight-lines
  .highlight-line::before {
  content: ' ';
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
  width: var(--vbk--code-ln-wrapper-width);
  height: 100%;
}

div.__vbk__[class*='language-'].line-numbers-mode pre.__vbk__ {
  margin-left: var(--vbk--code-ln-wrapper-width);
  padding-left: 1rem;
  vertical-align: middle;
}

div.__vbk__[class*='language-'].line-numbers-mode .line-numbers {
  position: absolute;
  top: 0;
  width: var(--vbk--code-ln-wrapper-width);
  text-align: center;
  color: var(--vbk--code-ln-color);
  padding-top: 1.25rem;
  line-height: 1.4;
}

div.__vbk__[class*='language-'].line-numbers-mode .line-numbers br.__vbk__ {
  user-select: none;
}

div.__vbk__[class*='language-'].line-numbers-mode .line-numbers .line-number {
  position: relative;
  z-index: 3;
  user-select: none;
  font-size: 0.85em;
}

div.__vbk__[class*='language-'].line-numbers-mode::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--vbk--code-ln-wrapper-width);
  height: 100%;
  border-radius: 6px 0 0 6px;
  border-right: 1px solid var(--vbk--code-hl-bg-color);
}

div.__vbk__[class~='language-html']:before,
div.__vbk__[class~='language-markup']:before {
  content: 'html';
}

div.__vbk__[class~='language-md']:before,
div.__vbk__[class~='language-markdown']:before {
  content: 'md';
}

div.__vbk__[class~='language-css']:before {
  content: 'css';
}

div.__vbk__[class~='language-sass']:before {
  content: 'sass';
}

div.__vbk__[class~='language-scss']:before {
  content: 'scss';
}

div.__vbk__[class~='language-less']:before {
  content: 'less';
}

div.__vbk__[class~='language-stylus']:before {
  content: 'styl';
}

div.__vbk__[class~='language-js']:before,
div.__vbk__[class~='language-javascript']:before {
  content: 'js';
}

div.__vbk__[class~='language-ts']:before,
div.__vbk__[class~='language-typescript']:before {
  content: 'ts';
}

div.__vbk__[class~='language-json']:before {
  content: 'json';
}

div.__vbk__[class~='language-rb']:before,
div.__vbk__[class~='language-ruby']:before {
  content: 'rb';
}

div.__vbk__[class~='language-py']:before,
div.__vbk__[class~='language-python']:before {
  content: 'py';
}

div.__vbk__[class~='language-sh']:before,
div.__vbk__[class~='language-bash']:before {
  content: 'sh';
}

div.__vbk__[class~='language-php']:before {
  content: 'php';
}

div.__vbk__[class~='language-go']:before {
  content: 'go';
}

div.__vbk__[class~='language-rust']:before {
  content: 'rust';
}

div.__vbk__[class~='language-java']:before {
  content: 'java';
}

div.__vbk__[class~='language-c']:before {
  content: 'c';
}

div.__vbk__[class~='language-yaml']:before {
  content: 'yaml';
}

div.__vbk__[class~='language-dockerfile']:before {
  content: 'dockerfile';
}

div.__vbk__[class~='language-vue']:before {
  content: 'vue';
}

/* narrow mobile */
@media (max-width: 419px) {
  div.__vbk__[class*='language-'] {
    margin: 0.85rem -1.5rem;
    border-radius: 0;
  }
}
