/**-------------------------------------------------------------------------------------------
 * HTML
 *-------------------------------------------------------------------------------------------*/

html {
  line-height: 1.4;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  /* prevent scrollbar jumping. */
  overflow-y: scroll;
}

html[data-vbk-sidebar='open'] {
  overflow: hidden;
  margin-right: var(--vbk--scrollbar-width);
}

@media (min-width: 992px) {
  html[data-vbk-sidebar='open'] {
    overflow-y: scroll;
    margin-right: 0;
  }
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

main {
  display: block;
}

/**-------------------------------------------------------------------------------------------
 * Focus
 *-------------------------------------------------------------------------------------------*/

*:focus {
  outline: 0;
  border-radius: 0.15rem !important;
  box-shadow: 0 0 0 4px rgba(var(--vbk--color-text-rgb)) !important;
}

*:focus:not(:focus-visible) {
  box-shadow: none !important;
}

/**-------------------------------------------------------------------------------------------
 * Misc
 *-------------------------------------------------------------------------------------------*/

p,
a,
ul,
ol,
blockquote {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.004rem;
  text-align: left;
}

p {
  margin: 1.15rem 0;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

form {
  margin: 0;
}

hr {
  margin: 1.15rem 0;
  height: 1px;
}

/**-------------------------------------------------------------------------------------------
 * Code
 *-------------------------------------------------------------------------------------------*/

code {
  font-family: monospace;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  word-spacing: -0.25rem;
  text-align: left;
  background-color: var(--vbk--color-gray-300);
  border-radius: 0.25rem;
  padding: 0.125rem 0.375rem;
}

html[data-vbk-theme='dark'] code {
  background-color: var(--vbk--color-gray-500);
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code {
  font-size: 1.5rem;
}

/**-------------------------------------------------------------------------------------------
 * Headings
 *-------------------------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  letter-spacing: 0.01rem;
}

h2 {
  font-size: 2.0625rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: 0.001rem;
}

h4 {
  font-size: 1.4375rem;
  line-height: 2rem;
  letter-spacing: 0.002rem;
}

h5 {
  font-size: 1.1875rem;
  line-height: 2rem;
  letter-spacing: 0.003rem;
}

/**-------------------------------------------------------------------------------------------
 * Anchor
 *-------------------------------------------------------------------------------------------*/

a {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  color: var(--vbk--color-primary);
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    text-decoration: underline;
  }
}

.page a {
  transition: var(--vbk--color-transition);
}

/**-------------------------------------------------------------------------------------------
 * Header Anchor
 *-------------------------------------------------------------------------------------------*/

a.header-anchor {
  position: absolute;
  top: 50%;
  left: 0;
  float: left;
  margin-left: -1.05em;
  padding: 0 0.23em;
  font-size: 0.85em;
  opacity: 0;
  transform: translateY(-50%);
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  h1:hover .header-anchor,
  h2:hover .header-anchor,
  h3:hover .header-anchor,
  h4:hover .header-anchor,
  h5:hover .header-anchor,
  h6:hover .header-anchor {
    opacity: 1;
  }

  a.header-anchor:hover {
    text-decoration: underline;
  }
}

.header-anchor:focus-visible {
  opacity: 1;
}

/**-------------------------------------------------------------------------------------------
 * List
 *-------------------------------------------------------------------------------------------*/

ul,
ol {
  margin: 1.15rem 0;
  line-height: 1.8;
}

ul,
ol {
  padding-left: 1.15rem;
}

li > ul,
li > ol {
  margin: 0;
}

ul p,
ol p {
  margin: 0;
  padding: 0;
}

/**-------------------------------------------------------------------------------------------
 * Table
 *-------------------------------------------------------------------------------------------*/

table {
  display: block;
  border-collapse: collapse;
  margin: 1.15rem 0;
  overflow-x: auto;
}

tr {
  border-top: 1px solid var(--vbk--color-gray-400);
}

tr:nth-child(2n) {
  background-color: var(--vbk--color-gray-200);
}

html[data-vbk-theme='dark'] tr:nth-child(2n) {
  background-color: var(--vbk--color-gray-600);
}

th,
td {
  border: 1px solid var(--vbk--color-gray-400);
  padding: 0.6rem 1.15rem;
}

html[data-vbk-theme='dark'] th,
html[data-vbk-theme='dark'] td {
  border: 1px solid var(--vbk--color-gray-500);
}

/**-------------------------------------------------------------------------------------------
 * Blockquote
 *-------------------------------------------------------------------------------------------*/

blockquote {
  margin: 1.5rem 0;
  border-left: 0.2rem solid var(--vbk--color-gray-400);
  padding: 0.25rem 0 0.25rem 1rem;
  color: #999;
}

blockquote > p {
  margin: 0;
}
