/**-------------------------------------------------------------------------------------------
 * HTML
 *-------------------------------------------------------------------------------------------*/

html {
  line-height: 1.4;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  /* prevent scrollbar jumping. */
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

html[data-vbk-sidebar='open'] {
  overflow: hidden;
  margin-right: var(--vbk--scrollbar-width);
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  line-height: inherit;
  overflow-x: hidden;
  background-color: var(--vbk--body-bg-color, hsl(0, 0%, 95%));
}

html.dark body {
  background-color: var(--vbk--body-bg-color, hsl(0, 0%, 10.8%));
}

.__vbk__ {
  font-family: var(--vbk--fony-family);
}

@media (min-width: 992px) {
  html[data-vbk-sidebar='open'] {
    overflow-y: scroll;
    margin-right: 0;
  }

  body {
    overflow-x: visible;
  }
}

/**-------------------------------------------------------------------------------------------
 * Focus
 *-------------------------------------------------------------------------------------------*/

.__vbk__:focus {
  outline: 0;
  border-radius: 0.12rem !important;
  box-shadow: var(--vbk--focus-box-shadow) !important;
}

.__vbk__:focus:not(:focus-visible) {
  box-shadow: none !important;
}

.__vbk__:focus:not(.focus-visible) {
  box-shadow: none !important;
}

/**-------------------------------------------------------------------------------------------
 * Misc
 *-------------------------------------------------------------------------------------------*/

p.__vbk__,
a.__vbk__,
ul.__vbk__,
ol.__vbk__,
blockquote.__vbk__ {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.004rem;
  text-align: left;
}

p.__vbk__ {
  margin: 1.15rem 0;
}

a.__vbk__,
area.__vbk__,
button.__vbk__,
[role='button'].__vbk__,
input.__vbk__,
label.__vbk__,
select.__vbk__,
summary.__vbk__,
textarea.__vbk__ {
  touch-action: manipulation;
}

figure.__vbk__ {
  margin: 0;
}

img.__vbk__ {
  max-width: 100%;
}

form.__vbk__ {
  margin: 0;
}

hr.__vbk__ {
  margin: 1.15rem 0;
  height: 1px;
}

/**-------------------------------------------------------------------------------------------
 * Code
 *-------------------------------------------------------------------------------------------*/

code.__vbk__ {
  font-family: monospace;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  word-spacing: -0.25rem;
  text-align: left;
  background-color: var(--vbk--color-gray-300);
  border-radius: 0.25rem;
  padding: 0.125rem 0.375rem;
}

html.dark code.__vbk__ {
  background-color: var(--vbk--color-gray-500);
}

h1.__vbk__ code,
h2.__vbk__ code,
h3.__vbk__ code,
h4.__vbk__ code,
h5.__vbk__ code {
  font-size: 1.5rem;
}

/**-------------------------------------------------------------------------------------------
 * Headings
 *-------------------------------------------------------------------------------------------*/

h1.__vbk__,
h2.__vbk__,
h3.__vbk__,
h4.__vbk__,
h5.__vbk__,
h6.__vbk__ {
  width: 100%;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 1rem 0;
}

h1.__vbk__,
h2.__vbk__,
h3.__vbk__,
h4.__vbk__,
h5.__vbk__,
h6.__vbk__,
strong.__vbk__,
b.__vbk__ {
  font-weight: 600;
}

h1.__vbk__ {
  font-size: 2.5rem;
  line-height: 3.5rem;
  letter-spacing: 0.01rem;
}

h2.__vbk__ {
  font-size: 2.0625rem;
  line-height: 3rem;
}

h3.__vbk__ {
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: 0.001rem;
}

h4.__vbk__ {
  font-size: 1.4375rem;
  line-height: 2rem;
  letter-spacing: 0.002rem;
}

h5.__vbk__ {
  font-size: 1.1875rem;
  line-height: 2rem;
  letter-spacing: 0.003rem;
}

/**-------------------------------------------------------------------------------------------
 * Anchor
 *-------------------------------------------------------------------------------------------*/

a.__vbk__ {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  color: var(--vbk--color-primary);
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  a.__vbk__:hover {
    text-decoration: underline;
  }
}

.page.__vbk__ a.__vbk__ {
  transition: var(--vbk--color-transition);
}

/**-------------------------------------------------------------------------------------------
 * Header Anchor
 *-------------------------------------------------------------------------------------------*/

a.__vbk__.header-anchor {
  margin-left: -1.05em;
  padding: 0 0.23em;
  font-size: 0.85em;
  opacity: 0;
}

a.__vbk__.header-anchor:hover,
a.__vbk__.header-anchor:focus {
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  h1.__vbk__:hover .header-anchor,
  h2.__vbk__:hover .header-anchor,
  h3.__vbk__:hover .header-anchor,
  h4.__vbk__:hover .header-anchor,
  h5.__vbk__:hover .header-anchor,
  h6.__vbk__:hover .header-anchor {
    opacity: 1;
    margin-left: 0;
  }

  a.__vbk__.header-anchor:hover {
    text-decoration: underline;
  }
}

.header-anchor.__vbk__:focus-visible {
  opacity: 1;
  margin-left: 0;
}

/**-------------------------------------------------------------------------------------------
 * List
 *-------------------------------------------------------------------------------------------*/

ul.__vbk__,
ol.__vbk__ {
  margin: 1.15rem 0;
  line-height: 1.8;
  padding-left: 1.15rem;
}

ul.__vbk__ {
  list-style: square;
}

ol.__vbk__ {
  list-style: decimal;
}

li.__vbk__ > ul.__vbk__,
li.__vbk__ > ol.__vbk__ {
  margin: 0;
}

ul.__vbk__ p.__vbk__,
ol.__vbk__ p.__vbk__ {
  margin: 0;
  padding: 0;
}

ul.__vbk__ > li.__vbk__,
ol.__vbk__ > li.__vbk__ {
  margin-top: 0.375rem;
}

ul.__vbk__ > li.__vbk__:first-child,
ol.__vbk__ > li.__vbk__:first-child {
  margin-top: 0;
}

/**-------------------------------------------------------------------------------------------
 * Table
 *-------------------------------------------------------------------------------------------*/

table.__vbk__ {
  display: block;
  border-collapse: collapse;
  margin: 1.15rem 0;
  overflow-x: auto;
}

tr.__vbk__ {
  border-top: 1px solid var(--vbk--color-gray-400);
}

tr.__vbk__:nth-child(2n) {
  background-color: var(--vbk--color-gray-200);
}

html.dark tr.__vbk__:nth-child(2n) {
  background-color: var(--vbk--color-gray-600);
}

th.__vbk__,
td.__vbk__ {
  border: 1px solid var(--vbk--color-gray-400);
  padding: 0.6rem 1.15rem;
}

html.dark th.__vbk__,
html.dark td.__vbk__ {
  border: 1px solid var(--vbk--color-gray-500);
}

/**-------------------------------------------------------------------------------------------
 * Blockquote
 *-------------------------------------------------------------------------------------------*/

blockquote.__vbk__ {
  margin: 1.5rem 0;
  border-left: 0.2rem solid var(--vbk--color-gray-400);
  padding: 0.25rem 0 0.25rem 1rem;
  color: #999;
}

blockquote.__vbk__ > p.__vbk__ {
  margin: 0;
}
