html.dark {
  color-scheme: dark;

  /**-------------------------------------------------------------------------------------------
   * Colors
   *-------------------------------------------------------------------------------------------*/

  --vbk--color-primary: var(--vbk-color-yellow);

  --vbk--color-text: var(--vbk--color-white);
  --vbk--color-text-rgb: 255, 255, 255;
  --vbk--color-text-secondary: var(--vbk--color-gray-200);

  --vbk--color-divider: var(--vbk--color-gray-300);

  --vbk--color-bg-100: var(--vbk--color-gray-400);
  --vbk--color-bg-200: var(--vbk--color-gray-500);
}
