:root {
  /**-------------------------------------------------------------------------------------------
   * Breakpoints
   *-------------------------------------------------------------------------------------------*/

  /* Only used for reference, changing values does nothing. */
  --vbk--bp-sm: 576px;
  --vbk--bp-md: 768px;
  --vbk--bp-lg: 992px;
  --vbk--bp-xl: 1200px;

  /**-------------------------------------------------------------------------------------------
   * Typography
   *-------------------------------------------------------------------------------------------*/

  --vbk--font-family-base: 'Noto Sans Display', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --vbk--font-family-mono: 'Source Code Pro', source-code-pro, Menlo, Monaco,
    Consolas, 'Courier New', monospace;

  /**-------------------------------------------------------------------------------------------
   * Colors
   *-------------------------------------------------------------------------------------------*/

  /** Thanks GitLab! **/
  --vbk-color-blue: #007bff;
  --vbk-color-indigo: #6610f2;
  --vbk-color-purple: #6d49cb;
  --vbk-color-pink: #e83e8c;
  --vbk-color-red: #dc3545;
  --vbk-color-orange: #fd7e14;
  --vbk-color-yellow: #ffc107;
  --vbk-color-green: #28a745;
  --vbk-color-teal: #20c997;
  --vbk-color-cyan: #17a2b8;
  --vbk-color-success: #108548;
  --vbk-color-info: #1f75cb;
  --vbk-color-warning: #ab6100;
  --vbk-color-danger: #dd2b0e;

  --vbk--color-primary: #610fe6;

  --vbk--color-black: #000000;
  --vbk--color-white: #ffffff;

  --vbk--color-gray-100: #f5f5f5;
  --vbk--color-gray-200: #eaeaea;
  --vbk--color-gray-300: #3d3d3d;
  --vbk--color-gray-400: #282828;
  --vbk--color-gray-500: #1c1c1c;

  --vbk--color-text: var(--vbk--color-black);
  --vbk--color-text-rgb: 0, 0, 0;
  --vbk--color-text-secondary: var(--vbk--color-gray-300);

  --vbk--color-divider: var(--vbk--color-gray-200);

  --vbk--color-bg-100: var(--vbk--color-gray-100);
  --vbk--color-bg-200: var(--vbk--color-white);

  /**-------------------------------------------------------------------------------------------
   * Code
   *-------------------------------------------------------------------------------------------*/

  --vbk--code-line-height: 24px;
  --vbk--code-font-family: var(--vbk--font-family-mono);
  --vbk--code-font-size: 14px;
  --vbk--code-inline-bg-color: rgba(27, 31, 35, 0.05);
  --vbk--code-bg-color: #282c34;

  /**-------------------------------------------------------------------------------------------
   * Navbar
   *-------------------------------------------------------------------------------------------*/

  --vbk--navbar-height: 5rem;
  --vbk--navbar-z-index: 100;

  /**-------------------------------------------------------------------------------------------
   * Sidebar
   *-------------------------------------------------------------------------------------------*/

  --vbk--scrim-z-index: calc(var(--vbk--navbar-z-index) + 100);

  --vbk--sidebar-min-width: 18.75rem;
  --vbk--sidebar-z-index: calc(var(--vbk--scrim-z-index) + 100);

  --vbk--sidebar-item-color: rgba(var(--vbk--color-text-rgb), 0.55);
  --vbk--sidebar-item-bg-color: var(--vbk--color-bg-200);
  --vbk--sidebar-item-padding: 0.5rem 0;
  --vbk--sidebar-item-font-size: 1rem;
  --vbk--sidebar-item-spacing: 0.2rem;
  --vbk--sidebar-item-font-weight: 500;
  --vbk--sidebar-item-border-radius: 0.12rem;
  --vbk--sidebar-item-line-height: 1.5;
  --vbk--sidebar-item-min-width: 10.5rem;

  --vbk--sidebar-item-active-color: var(--vbk--color-text);
  --vbk--sidebar-item-active-bg-color: var(--vbk--color-bg-100);

  --vbk--sidebar-item-hover-color: var(--vbk--color-text);
  --vbk--sidebar-item-hover-bg-color: var(--vbk--color-bg-100);
}
